$primary-color: #866750;
$white-color: #fff;
$dark-color: #333333;

$mb-m: 0 0 24px 0;

$default-size: 1400px;
$default-padding: 0 16px;
$default-section-padding: 100px 0;
$default-gap: 30px;

$responsive-tablet-size: 768px;
$responsive-mobile-size: 500px;

// 반응형 단위는 무조건 px