@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  white-space: nowrap;
}

strong,
b {
  font-weight: inherit;
}

i,
em,
address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

body {
  line-height: 1;
  color: #202123;
}

button {
  cursor: pointer;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
}

.skip {
  position: relative;
  z-index: 999;
}

.skip a {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  display: block;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  background: #000;
  color: #fff;
}

.skip a:focus,
.skip a:active {
  top: 0;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

input,
button,
textarea {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  line-height: 100px;
  white-space: nowrap;
}
.Header.on {
  background: rgba(51, 51, 51, 0.9);
}
.Header .header_wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 16px;
}
.Header .header_wrap h1 {
  flex: 0 0 42px;
}
.Header .header_wrap .gnb > ul {
  display: flex;
  gap: 60px;
}
.Header .header_wrap .gnb > ul > li > a {
  display: block;
  font-size: 18px;
  color: #fff;
}
.Header .header_wrap .util_area a {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
.Header .header_wrap .util_area a .feather {
  width: 36px;
  height: 36px;
  margin: 0 16px 0 0;
  vertical-align: middle;
}
.Header .header_wrap .m_btn {
  display: none;
}
@media (max-width: 1400px) {
  .Header .header_wrap .util_area {
    display: none;
  }
}
@media (max-width: 768px) {
  .Header .header_wrap h1 {
    position: fixed;
    z-index: 1000;
  }
  .Header .header_wrap .gnb {
    position: fixed;
    top: 0;
    left: -100%;
    width: calc(100% - 120px);
    height: 100vh;
    background: #866750;
    padding: 150px 24px 0 24px;
    transition: left 0.5s;
  }
  .Header .header_wrap .gnb > ul {
    flex-direction: column;
    gap: 0;
  }
  .Header .header_wrap .gnb > ul > li > a {
    line-height: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .Header .header_wrap .m_btn {
    display: block;
    border: none;
    background: transparent;
  }
  .Header .header_wrap .m_btn .feather {
    position: fixed;
    top: 30px;
    right: 16px;
    z-index: 1000;
    color: #fff;
    background: #333333;
    padding: 8px;
    box-sizing: content-box;
  }
}
@media (max-width: 500px) {
  .Header .header_wrap .gnb {
    width: 100%;
  }
}
.Header.active .gnb {
  left: 0;
}

.MainVisual {
  position: relative;
}
.MainVisual .slg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1400px;
  width: 100%;
  padding: 0 16px;
  z-index: 998;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}
.MainVisual .slg h2 {
  color: #fff;
  margin: 0 0 24px 0;
}
.MainVisual .slg h2 strong {
  display: block;
  margin: 0 0 24px 0;
  text-align: center;
}
.MainVisual .slg h2 span {
  display: block;
  font-size: 64px;
  font-weight: 800;
  text-align: center;
}
.MainVisual .slg p {
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 26px;
}
.MainVisual .main_visual_slide {
  position: relative;
  border-radius: 0 0 180px 0;
  overflow: hidden;
}
.MainVisual .main_visual_slide .slick-dots {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1400px;
  width: 100%;
  padding: 0 16px;
  z-index: 999;
  top: auto;
  bottom: 150px;
  transform: translate(-50%, 0);
  text-align: center;
}
.MainVisual .main_visual_slide .slick-dots > * {
  display: inline-block;
  margin: 0 4px;
}
.MainVisual .main_visual_slide .slick-dots > * button {
  position: relative;
  background: transparent;
  border: none;
  border: 0;
  width: 80px;
  height: 4px;
  background: #333;
  font-size: 0;
}
.MainVisual .main_visual_slide .slick-dots > * button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: lemonchiffon;
}
.MainVisual .main_visual_slide .slick-dots > *.slick-active button::after {
  width: 100%;
  transition: 3s;
}
.MainVisual .main_visual_slide::after {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
  background: rgba(0, 0, 0, 0.5);
}
.MainVisual .main_visual_slide .itm {
  height: 100vh;
}
.MainVisual .main_visual_slide .itm.itm01 {
  background: url(../images/bg_intro01.jpg) no-repeat center center/cover;
}
.MainVisual .main_visual_slide .itm.itm02 {
  background: url(../images/bg_intro02.jpg) no-repeat center center/cover;
}
.MainVisual .main_visual_slide .itm.itm03 {
  background: url(../images/bg_intro03.jpg) no-repeat center center/cover;
}
.MainVisual .arrows {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1400px;
  width: 100%;
  padding: 0 16px;
  z-index: 999;
  max-width: 1800px;
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
}
.MainVisual .arrows button {
  background: transparent;
  border: none;
  border: 0;
}
.MainVisual .arrows button .feather {
  width: 40px;
  height: 40px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: content-box;
  padding: 24px;
  border-radius: 50%;
}
.MainVisual:hover .arrows {
  max-width: 1400px;
}
@media (max-width: 768px) {
  .MainVisual .slg h2 span {
    font-size: 36px;
  }
}
@media (max-width: 500px) {
  .MainVisual .slg h2 span {
    font-size: 4vw;
  }
}

.MainContent {
  padding: 100px 0;
}
.MainContent .tit {
  max-width: 1400px;
  padding: 0 16px;
  margin: 0 auto 40px auto;
}
.MainContent .tit h2 {
  font-size: 16px;
  text-align: center;
  margin: 0 0 8px 0;
}
.MainContent .tit p {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  color: #866750;
}
.MainContent .inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 16px;
}
.MainContent .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 30px;
}
@media (max-width: 1400px) {
  .MainContent .content {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
@media (max-width: 768px) {
  .MainContent .content {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
.MainContent .content .itm figure {
  position: relative;
  margin: 0 0 16px 0;
}
.MainContent .content .itm figure::after {
  content: attr(data-txt);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #866750;
  color: #fff;
  line-height: 24px;
  text-align: center;
}
.MainContent .content .itm figcaption strong {
  display: block;
  margin: 0 0 8px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.MainContent .content .itm figcaption p {
  text-align: center;
}

.MainEvent {
  padding: 100px 0;
  padding: 200px 0 400px 0;
  background: url(../images/bg_main2.jpg) no-repeat left bottom/cover;
}
.MainEvent .tit {
  max-width: 1400px;
  padding: 0 16px;
  margin: 0 auto 40px auto;
}
.MainEvent .tit h2 {
  font-size: 16px;
  text-align: center;
  margin: 0 0 8px 0;
}
.MainEvent .tit p {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  color: #866750;
}
.MainEvent .inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 16px;
}
.MainEvent h2 {
  margin: 0 0 40px 0;
}
.MainEvent h2 span {
  display: block;
  font-size: 40px;
  font-weight: 100;
  color: #fff;
  line-height: 44px;
  text-align: center;
}
.MainEvent .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
}
@media (max-width: 1400px) {
  .MainEvent .content {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
@media (max-width: 768px) {
  .MainEvent .content {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
.MainEvent .content .itm {
  background: rgba(134, 103, 80, 0.75);
  padding: 48px;
  border-radius: 32px;
}
.MainEvent .content .itm h3 {
  margin: 0 auto;
  max-width: 260px;
  min-height: 70px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  white-space: wrap;
  word-break: keep-all;
  text-align: center;
  line-height: 28px;
}
.MainEvent .content .itm p {
  color: #fff;
  text-align: center;
  line-height: 20px;
  word-break: keep-all;
}
@media (max-width: 500px) {
  .MainEvent h2 span {
    font-size: 6vw;
    line-height: 1.2;
  }
  .MainEvent .content .itm h3 {
    font-size: 4vw;
  }
}

.Footer {
  padding: 80px 0;
}
.Footer .inner {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 16px;
}
.Footer ul.ft_list,
.Footer ul.fb_list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 0 0 8px 0;
}
.Footer ul.ft_list li ~ li,
.Footer ul.fb_list li ~ li {
  position: relative;
}
.Footer ul.ft_list li ~ li::after,
.Footer ul.fb_list li ~ li::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -16px;
  width: 2px;
  height: 2px;
  background: #333333;
}
.Footer .copy {
  font-size: 14px;
  text-align: center;
}
@media (max-width: 768px) {
  .Footer ul.ft_list,
  .Footer ul.fb_list {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin: 0 0 24px 0;
  }
}/*# sourceMappingURL=style.css.map */